/*  flex-direction is not necessary, added 'justify-content: center' */

.App {
  display: flex;
  justify-content: center;
  width: inherit;
}

/* padding for container belongs in left panel container */

.leftPanel {
  display: flex;
  justify-content: flex-end;
  padding: 32px 24px 32px 24px;
  background-color: #585858;
  height: 100vh;
  width: 100%;
}

/* right panel is similar to left */

.rightPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 100px 24px 24px 24px;
  height: 100vh;
  width: 100%;
}

.greetingContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 535px;
  width: inherit;
  overflow: auto;
}

.robotLogo {
  background-color: #585858;
  height: 26px;
  margin-bottom: 32px;
  width: 177px;
}

/* margin-bottom removed from oringinal */

.welcome {
  height: auto;
  margin: 0 0 0 0;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.subText {
  color: #EAEAEA;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

/* width and margins removed */

form {
  justify-content: baseline;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  overflow: auto;
}

.arrow {
  height: 10px;
  margin-left: 8px;
  width: 10px;
}

/* display: table is the key to having the button avoid filling in width */
button {
  display: table;
  background: #FFAB44;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  width: auto;
  height: 48px;
  margin: 24px auto 24px 0px;
  outline: 0;
  padding: 0 24px 0 24px;
}

button:focus {
  border-style: none;
}

button:disabled {
  background: #FFAB4450;
}

@media(max-width:600px) {
  /* width should be inherit and not 100% */
  .App {
    width: inherit;
    flex-direction: column;
  }
  /* max-width should be none and not inherit */
  .greetingContainer {
    height: auto;
    font-size: 14px;
    max-width: none;
  }
  .leftPanel {
    height: auto;
    width: inherit;
    justify-content: left;
  }
  .rightPanel {
    height: auto;
    width: inherit;
    padding: 32px 24px 24px 24px;
  }
  .subText {
    font-size: 14px;
  }
  /* width should be unchanged and min-width should be set to none */
  form {
    min-width: none;
    margin-top: 0px;
  }
  button {
    max-width: none;
    width: 100%;
  }
}