label {
    color: #666666;
    font-family: "Merriweather", serif;
    font-size: 12px;
    font-weight: 400;
}

.labels {
    display: "flex";
    flex-direction: row;
    margin-bottom: 5px;
    margin-left: 24px;
}

span.showing {
    display: block;
    color: red;
    font-family: "Merriweather", serif;
    font-size: 12px;
    font-weight: 400;
}

span {
    display: none;
}

input.error {
    background-color: #ffffff;
    border: 1px solid #E70000;
  }

input:invalid, input:not[value=""] {
    background-color: #ffffff;
    border: 1px solid #E70000;
}

input:valid {
    background-color: #f7f7f7;
    border: 1px solid #EAEAEA;
}

input:focus {
    outline: none;
    background-color: #ffffff;
    border: 1px solid #00adee;
}

input {
    background-color: #f7f7f7;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 48px;
    margin-left: 24px;
    max-width: 376px;
    padding-left: 16px;
    width: inherit;
}

.field {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 0 24px 0;
    max-width: 400px;
    width: inherit;
}

@media(max-width:935px) {
    form {
        min-width: 420px;
    }
    input {
        width: inherit;
    }
    .field {
        width: inherit;
    }
}